aiodns
aiohttp
aiosignal
async-generator
async-timeout
attrs
beautifulsoup4
Brotli
bs4
cchardet
certifi
cffi
charset-normalizer
cryptography
frozenlist
h11
idna
lxml
multidict
numpy
outcome
pandas
pip
pycares
pycparser
pyOpenSSL
python-dateutil
pytz
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
ujson
urllib3
wsproto
yarl
zlibrary